registry = http://admin.branch.io:8081/nexus/content/groups/npm/
_auth = ZGV2OnB5S3pCZVgyTGpMTEFxdGoyaFIyMjI5dnFWOGlnb2NL
always-auth = true
progress = false
email = dmitri@branchmetrics.io

@branchjs:registry = http://admin.branch.io:8081/nexus/content/groups/npm/
//admin.branch.io:8081/nexus/content/repositories/npm-internal/:_authToken=ZGV2OnB5S3pCZVgyTGpMTEFxdGoyaFIyMjI5dnFWOGlnb2NL
